.board {
	display: grid;
	grid-template-columns: 28px 28px 28px 28px;
	grid-template-rows: 28px 28px 28px 28px 28px;
	padding: 1px;
	
	margin-left: 0px;
	
	position: relative;
}

.preview {
	display: grid;
	
	padding-left: 9px;
	padding-top: 7px;
	
	width: 960px;
	height: 732px;
	
	margin: auto;

	
	grid-template-columns: 119px 119px 119px 119px 119px 119px;
	grid-template-rows: 165px 165px 165px;
	background-image: url('images/screen.png');
	background-repeat: no-repeat;
	
	position: relative;
	
	user-select: none;
}

.imagePreview {
	position: absolute;
	width: 13px;
	height: 14px;
}

.geneSelector {
	position: absolute;
	width: 100px;
	height: 47px;
}

.geneSelector:hover {
	background-image: url('images/selectedDouble.png');
	background-repeat: no-repeat;
}

.geneSelected {
	background-image: url('images/selectedDouble.png');
	background-repeat: no-repeat;
}

.cellSelector {
	position: absolute;
	width: 32px;
	height: 33px;
}

.cellSelector:hover {
	background-image: url('images/selectedSmall.png');
	background-repeat: no-repeat;
}

.cellSelected {
	background-image: url('images/selectedSmall.png');
	background-repeat: no-repeat;
}

.reactionSelector {
	position: absolute;
	width: 47px;
	height: 47px;
}

.reactionSelector:hover {
	background-image: url('images/selectedLarge.png');
	background-repeat: no-repeat;
}

.reactionSelected {
	background-image: url('images/selectedLarge.png');
	background-repeat: no-repeat;
}

.moveArrowRight {
	position: absolute;
	width: 11px;
	height: 11px;
}

.moveArrowRight:hover {
	background-image: url('images/move-right.png');
	background-repeat: no-repeat;
}

.moveArrowLeft {
	position: absolute;
	width: 11px;
	height: 11px;
}

.moveArrowLeft:hover {
	background-image: url('images/move-left.png');
	background-repeat: no-repeat;
}

.import:hover {
	background-image: url('images/import.png');
	background-repeat: no-repeat;
}

#neighbor {
	width: 43px;
	height: 43px;
	left: 62px;
	top: 674px;
	position: absolute;
	background-image: url('images/neighbor.png');
	background-repeat: no-repeat;
}

.neighborArr {
	width: 15px;
	height: 15px;
	position: absolute;
	opacity: 0;
}

.arrow {
	width: 28px;
	height: 28px;
	position: absolute;
}

#level {
	width: 112px;
	height: 115px;
}

.coord {
	width: 72px;
	height:24px;
	margin-top: 5px;
	display: inline-block;
}

.button {
	width: 112px;
	margin: 10px;
}

textarea {
	resize: none;
}

a {
	margin-left:10px;
}

body {
	background-color: black;
	padding: 12px;
}

@keyframes fadeOut {
	0% {opacity: 1;}
	10% {opacity: 0;}
	20% {opacity: 1;}
	30% {opacity: 0;}
	40% {opacity: 1;}
	50% {opacity: 0;}
	60% {opacity: 1;}
	100% {opacity: 0;}
}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: 4s;
	background-image: url('images/import.png');
	background-repeat: no-repeat;
	animation-fill-mode: forwards;
}