.board {
	display: grid;
	grid-template-columns: 32px 32px 32px 32px;
	grid-template-rows: 32px 32px 32px 32px 32px;
	padding: 10px;
	position: relative;
}

.preview {
	display: grid;
	grid-template-columns: 148px 148px 148px 148px 148px 148px;
}

#level {
	width: 148px;
	height: 115px;
}

.coord {
	width: 72px;
	height:24px;
	margin-top: 5px;
	display: inline-block;
}

input {
	width: 128px;
	margin: 10px;
}

textarea {
	resize: none;
}

a {
	margin-left:10px;
}